<div style="cursor:pointer;" id="openPopup" class="size_guide_block">
  <span class="size_guide-text">Size Guide</span>
  <img src="https://cdn.shopify.com/s/files/1/2351/5779/files/icon__ruler_v.svg?v=1697859561" alt="flx-bike" >
</div>
{% render 'size-chart-pop-up' %}

<style>
  .size_guide_block{
    display:flex;
    gap:15px;
    padding:30px 0;
  }
  .size_guide_block img{
    width:35px;
    max-width: 100%;
  }
  .size_guide-text{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: 148.5%; /* 22.275px */
    text-decoration-line: underline;
      }
</style>