<div class="cs_icon_with_text">
  <div class="cs_icon_with_text_item">
    <img src="https://cdn.shopify.com/s/files/1/2351/5779/files/icon__Lightning_Bolt__1.svg?v=1696863450" alt="flx-bike" height="50">
    <h3 class="cs_icon_text">28 mph top speed</h3>
  </div>
  <div class="cs_icon_with_text_item">
    <img src="https://cdn.shopify.com/s/files/1/2351/5779/files/icon__Alternate_Map_Marker__1.svg?v=1696863451" alt="flx-bike" height="50">
    <h3 class="cs_icon_text">50 mile range</h3>
  </div>
  <div class="cs_icon_with_text_item">
    <img src="https://cdn.shopify.com/s/files/1/2351/5779/files/icon__Hanging_Weight__1.svg?v=1696863450" alt="flx-bike" height="50">
    <h3 class="cs_icon_text">52V 910WH BATTERY</h3>
  </div>
  <div class="cs_icon_with_text_item">
    <img src="https://cdn.shopify.com/s/files/1/2351/5779/files/icon__battery_full_outline__1.svg?v=1696863451" alt="flx-bike" height="50">
    <h3 class="cs_icon_text">WEIGHS 64 LBS</h3>
  </div>
</div>

<style>
  .cs_icon_with_text{
    border-radius: 27.06px;
    background: #F4F3EF;
    padding:34px 60px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:50px;
  }
  .cs_icon_with_text_item{
    display:grid;
    grid-template-columns:auto 1fr;
    gap:40px;
  }
  .cs_icon_text{
    color: #000;
    font-size: 46.24px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.462px;
    text-transform: uppercase;
    margin:0;
  }
  @media (max-width: 767.98px) { 
        .cs_icon_with_text{
    padding:24px 30px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
  }
  .cs_icon_with_text_item{
    display:grid;
    grid-template-columns:auto 1fr;
    gap:20px;
  }
  .cs_icon_text{
    font-size: 22px;
    line-height: 26px;
  }
  }
</style>